*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: black; */
}
body{
    height:min-content;
    width: 100%;
    /* position: relative; */
    background-image: url("bg2.jpg");
    background-size: cover;
}
.bdy
{
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.777);
}
marquee
{
 padding: 10px;
 color: white;
 font-size: 22 px;
}
a
{
    text-decoration: none;
}
.full-body
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:center ;
    position: relative;
 
}
.inner 
{
height: 100%;
width: 98%;
}
.inner img 
{
height: 100%;
width: 100%;
}

.btn
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}
@keyframes example
{
    from{background-color: white;}
    to{background-color: black;}
}
@keyframes example2
{
    from{color: black;}
    to{color: white;}
}
.btn-click
{
    height:70px;
    width: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    margin: 10px;
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;



}
.btn-click h2
{
color: black;
/* background-color: white; */
animation-name: example2;
animation-duration: 0.5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in;
}
.btn-click p
{
    color:rgb(10, 205, 10);
    /* background-color: white; */
}

.foot
{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.foot a
{
  text-align: center;
  color: white
}

.image2
{
    height: 130px;
    width: 130px;
    /* border-radius: 50%; */
    position:absolute;
    top: 15px;
    left:0px;
}

